<!DOCTYPE HTML>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
    $('textarea').blur(function () {
    var csv = $('textarea').val();
    csv = csv.split(',');
    var obj = JSON.stringify(csv);
    alert(obj);
    });
  //$('submit').click(function ({
  // $.ajax({
  //  url:"http://localhost/rest_api/public/bulk",
  // dataType: "json",
  // contentType: "application/json",
  //type:'POST',
  //data: jQuery.param({ field1: "hello", field2 : "hello2"})
  // }),
  //success: function (response) {
  // alert(response.status);
  //}
  //error: function () {
  //alert("error");
  //}

  /*$.post("../public/bulk",["mayank","second"],"json");*/

  $("#send").click(function () {
      $.ajax({
      url: "../public/bulk",
      contentType: "application/json",
      method: 'POST',
      data: JSON.stringify(["first","second"])
      })
      .done(function( result ) { console.log(result); alert(result); })
      .fail(function( xhr, textStatus ) { alert( "Request failed: " + xhr.status );
      });
  });
});
</script>
</head>
<body>
  <div>
    <textarea name="string" id="myfield" > </textarea>
    <input type="button" value="click"  id="send"/>
  </div>
</body>
</html>
